//.workspace-widget {}

.workspace-button {
    color: $color-light-4;
    background-color: $color-black-2;
    border-color: $color-black-2;
    margin: 3 0 3 0;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

.workspace-button > label {
    font-size: $font-size-500;
    font-family: $font-family-symbol;
    margin: 2 2 0 2;  //FIXME: Symbols are not centered, idk why
}

.workspace-button-window-open {
    color: $color-purple-1;
}

.workspace-button-active {
    color: $color-blue-4;
    border-color: $color-blue-4;
}

.workspace-button-active-secondary {
    color: $color-blue-5;
    border-color: $color-blue-5;
}

// Layout widget

.layout-widget {
    font-size: $font-size-600;
}

.active-layout {
    color: $color-blue-3;
    margin-right: 6px;
}

.active-layout-icon {
    //margin-right: 6px;
    font-size: 24px;
}

.available-layout-box {
    background-color: $color-black-2;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: $color-black-2;
    color: $color-light-4;
    margin-top: 5px;
    margin-bottom: 5px
}

.available-layout-button {
   margin-left: 6px; 
   margin-right: 6px; 
} 

