font-family = Berkeley Mono
font-family = Symbols Nerd Font Mono
font-family = Noto Color Emoji
font-family-bold =
font-family-italic =
font-family-bold-italic =

font-style = default
font-style-bold = default
font-style-italic = default
font-style-bold-italic = default

font-synthetic-style = bold,italic,bold-italic

font-feature = calt

font-size = 14

font-variation =
font-variation-bold =
font-variation-italic =
font-variation-bold-italic =

font-codepoint-map =

# macOS only
# font-thicken = false
# font-thicken-strength = 255

alpha-blending = native

adjust-cell-width =
adjust-cell-height =
adjust-font-baseline =
adjust-underline-position =
adjust-underline-thickness =
adjust-strikethrough-position =
adjust-strikethrough-thickness =
adjust-overline-position =
adjust-overline-thickness =
adjust-cursor-thickness =
adjust-cursor-height =
adjust-box-thickness =

grapheme-width-method = unicode

freetype-load-flags = hinting,force-autohint,monochrome,autohint

bold-is-bright = false
