# vim: set filetype=conf:
font-family = Berkeley Mono
font-family = Symbols Nerd Font Mono
font-family = Noto Color Emoji
font-family-italic =
font-family-bold =
font-family-bold-italic =

font-style = Medium SemiCondensed
# font-style-bold = Bold
# font-style-italic = Medium Oblique
# font-style-bold-italic = Bold Oblique

#font-synthetic-style = bold,italic,bold-italic
font-synthetic-style =

font-feature = calt

font-size = 14

font-variation =
font-variation-bold =
font-variation-italic =
font-variation-bold-italic =

font-codepoint-map =

# macOS only
# font-thicken = false
# font-thicken-strength = 255

alpha-blending = native

adjust-cell-width =
adjust-cell-height =
adjust-font-baseline =
adjust-underline-position =
adjust-underline-thickness =
adjust-strikethrough-position =
adjust-strikethrough-thickness =
adjust-overline-position =
adjust-overline-thickness =
adjust-cursor-thickness =
adjust-cursor-height =
adjust-box-thickness =

grapheme-width-method = unicode

freetype-load-flags = hinting,force-autohint,autohint

# bold-color = bright
