# vim: set filetype=conf:
# This feature requires systemd.
# linux-cgroup = single-instance
# linux-cgroup-memory-limit = 
# linux-cgroup-processes-limit = 
# linux-cgroup-hard-fail = false

gtk-opengl-debug = false
gtk-single-instance = false
gtk-titlebar = false
gtk-titlebar-hide-when-maximized = false
gtk-tabs-location = top
gtk-wide-tabs = true
adw-toolbar-style = raised
gtk-custom-css = 
