# vim: set filetype=conf:
theme = dracula

background = #16161d
foreground =

selection-foreground = cell-background
selection-background = cell-foreground

minimum-contrast = 1

cursor-color = cell-foreground
cursor-text = cell-background
cursor-opacity = 1
cursor-style = bar
cursor-style-blink =
cursor-click-to-move = true

mouse-hide-while-typing = true
mouse-shift-capture = false
mouse-scroll-multiplier = 1

background-opacity = 0.9
# Only macOS and KDE Plasma
background-blur = true

unfocused-split-opacity = 0.7
unfocused-split-fill =
split-divider-color =

window-padding-x = 4
window-padding-y = 4
window-padding-balance = true

window-decoration = none

maximize = false
fullscreen = false

# This is currently only supported on macOS.
# window-title-font-family =

# This feature is only supported on GTK with Adwaita enabled.
window-subtitle = false

window-theme = dark

window-height = 0
window-width = 0
window-position-x =
window-position-y =

# This is currently only supported on macOS.
# window-save-state = default
# window-step-resize = false

# This configuration currently only works with GTK.
window-new-tab-position = current

# This only takes effect if window-theme is set to ghostty.
# Currently only supported in the GTK app runtime.
window-titlebar-background =
window-titlebar-foreground =

resize-overlay = after-first
resize-overlay-position = bottom-right
resize-overlay-duration = 750ms

osc-color-report-format = 16-bit

