.stfolder
.zcompdump

__pycache__
.mypy_cache

secrets

*.backup
*.bak
*.old

# Repo specific locations
apps/ghostty/share/
apps/lazygit/state.yml
apps/mpv/scripts/
apps/rofi/

shells/zsh/plugins

users/sam/ssh/keys
users/sam/ssh/known_hosts
