.stfolder
.zcompdump

__pycache__

secrets

*.backup
*.old

# Repo specific locations
apps/mpv/scripts/
distros/void/root/etc/ly/
!distros/void/root/etc/ly/config.ini
!distros/void/root/etc/ly/xsetup.sh
users/sam/ssh/known_hosts
