#!/usr/bin/zsh

ALIASES="$XDG_CONFIG_HOME/.aliases"

# Will switch on the name of the shell that called this file (e.g. .zshrc), not the shebang line.
# https://stackoverflow.com/a/34940539/14727607
case $(basename $(readlink /proc/$$/exe)) in
    zsh ) source "$ALIASES/zsh.aliases" ;;
esac

case $(uname) in
    Linux ) 
        source "$ALIASES/linux.aliases"
        
        case $(lsb_release --codename | cut -f2) in
            void  ) source "$ALIASES/void.aliases"
                    source "$ALIASES/runit.aliases"
                    ;;
            artix ) source "$ALIASES/artix.aliases"
                    source "$ALIASES/pacman.aliases"
                    source "$ALIASES/runit.aliases"
                    ;;
        esac
        ;;
esac

source "$ALIASES/user.aliases"

[[ -n $(virsh --version) ]] && source "$ALIASES/virsh.aliases"

[[ -n $(bat --version) ]] && source "$ALIASES/bat.aliases"
[[ -n $(lsd --version) ]] && source "$ALIASES/lsd.aliases"

alias sa="source $ALIASES/.aliases"

