$mono-font: "FiraCode Nerd Font Propo";
$propo-font: "Comfortaa";
$symbol-font: "Symbols Nerd Font";

$small-font-size: 16px;
$medium-font-size: 20px;
$large-font-size: 24px;

.icon {
    padding: 0px;
    margin: 0px;
}
