@import 'util';
@import '../themes/theme';

calendar {
    font-family: $propo-font;
    padding: 5px;
}

// Currently selected date
calendar:selected {
    color: $c-blue-4;
    font-weight: bold;
}

// Month and year labels (not the arrows)
calendar.header {
    color: $c-purple-1;
    font-weight: bold;
}

calendar.button {
    color: $c-light-5;
}

calendar.button:hover {
    color: $c-dark-5;
    background-color: $c-light-4;
    border-radius: 5px;
}

// Days of the week 
calendar.highlight {
    color: $c-blue-3;
}

calendar.indeterminate {
    color: gold;
}


