[Desktop Entry]
Version=1.0
Name=Brave
Exec=/nix/store/7dmf9s9m977aw4001pib1q9zvaxfxj10-brave-1.59.120/bin/brave %U
StartupNotify=true
Terminal=false
Icon=~/.local/share/icons/brave.png
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/nix/store/7dmf9s9m977aw4001pib1q9zvaxfxj10-brave-1.59.120/bin/brave

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/nix/store/7dmf9s9m977aw4001pib1q9zvaxfxj10-brave-1.59.120/bin/brave --incognito
