[Desktop Entry]
Name=Obsidian
Exec=/opt/obsidian.appimage
Type=Application
Icon=~/.local/share/icons/obsidian.png
Terminal=false
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-AppImage-Version=1.1.16
