[Desktop Entry]
Name=Obsidian
Exec=/home/sam/.local/software/appimages/Obsidian-1.1.16.AppImage
Type=Application
Icon=~/.local/share/icons/obsidian.png
Terminal=false
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-AppImage-Version=1.1.16
